<ion-view view-title="Login">
 <ion-content class="padding" style="background-color:#ffffff ">
   <div class="buffer" style="height: 120px"></div>

 <center><img src="img/hgtlogosm.png"></center>
 <br>
   <!-- <h1 align="center" style="color:#ffffff ">Etsy Clone</h1> -->
   <div class="row">
     <div class="col col-33 col-offset-33">
       <center>
       <button class="button button-block button-light" ng-click="emailLogin()">Login</button></center>
     </div>
   </div>

 </ion-content>
</ion-view>