.newRow {
	width: 100%;
}

/* Empty. Add your own CSS if you like */
.ion-images:before {
	font-size: 80px;
}
button .ion-ios-camera:before {
	font-size: 80px;
}
div.list.card.photoChoice {
	margin-top: 30%;
}
div.item.item-divider.title {
	padding: 5%;
}
.item.inputUpload {
	border: none;
}

.item.inputUploadTop {
	border-bottom: none;
	border-right: none;
	border-left: none;
	border-top: darkgrey solid 1px;
}
.button-energized {
	color: #35584e;
}
.frontImg {
	width: 95%;
	height: 80%;
	margin-top: -120px;
}
.signInButton {
	width: 95%;
	background-color: #27BE34;
	color: #ffffff;
	margin-top: 7px;
}
.fbButton {
	background-color: #3b5998 !important;
	/*width: 95%;*/
	margin-top: 7px;

}
.signUpButton {

}

