/* Empty. Add your own CSS if you like */
.ion-images:before {
	font-size: 80px;
}
button .ion-ios-camera:before {
	font-size: 80px;
}
div.list.card.photoChoice {
	margin-top: 30%;
}
div.item.item-divider.title {
	padding: 5%;
}
.item.inputUpload {
	border: none;
}

.item.inputUploadTop {
	border-bottom: none;
	border-right: none;
	border-left: none;
	border-top: darkgrey solid 1px;
}